$black: rgb(0,0,0);
$orange: rgb(255,166,0);
$orange_red: rgb(219,63,6);
$header_bg_color: rgba(43,160,160,0.5);
$div1_color: rgba(41,195,241,.349);
$div2_color: rgba(126,252,0,.137);
$animals_tColor: rgb(114,68,68);
$main_font: 'Allerta Stencil', sans-serif;
$box_shadow1: rgba(88,9,53,.5);
$box_shadow2: rgba(34,17,143,.7);